body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Yomogi', cursive;
}

main {
  flex-grow: 1;
}

input[type='color'] {
  position: absolute;
  right: -8px;
  top: -8px;
  width: 56px;
  height: 56px;
}

.color-picker {
  position: relative;
  overflow: hidden;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.line{
  border-bottom: 1px solid lightgray;
}

.title{
  background-color: #9DCBBA;
}

.strikethrough{
  text-decoration: line-through;
}